DATABASE_URL=postgresql://catalogi:pg_password@postgres:5432/db
# note it is note in DATABASE_URL the host is 'postgres', matching the container name in docker-compose.yml
API_PORT=3084
EXTERNAL_SOFTWARE_DATA_ORIGIN=wikidata

OIDC_ISSUER_URI=https://auth.code.gouv.fr/auth/realms/codegouv
OIDC_CLIENT_ID=sill

# Environment identifier for environment-specific configuration
# Valid values: "local", "dev", "staging", "pre-production", "production"
# Can be used for environment-specific features like Sentry monitoring, logging levels, etc.
# Defaults to "local" if not provided
VITE_ENVIRONMENT=production

VITE_HEAD="
  <title>Catalogi - Deployment exemple</title>

  <script defer>
    console.log('This is a custom code in head, used in deployment example');
  </script>
"

# The following variables are use to configure the docker-compose.yml

# make sure it is aligned with DATABASE_URL:

POSTGRES_DB=db
POSTGRES_USER=catalogi
POSTGRES_PASSWORD=pg_password
